{#{% extends 'base.html.twig' %}#}
{#{% block body %}#}
{#    <div class="container">#}
{#        <div class="form-floating mb-4 mt-xxl-5">#}
{#            <h4>{{ 'Wallet'|trans }}</h4>#}
{#        </div>#}
{#        <form method="post">#}
{#            <div class="form-floating mb-4">#}
{#                <input type="text"#}
{#                       value="{{ last_username }}"#}
{#                       name="username"#}
{#                       class="form-control"#}
{#                       id="inputUsername"#}
{#                       autocomplete="username"#}
{#                       required#}
{#                       autofocus#}
{#                       placeholder="{{ 'Username'|trans }}"#}
{#                       aria-label="{{ 'Username'|trans }}"#}
{#                >#}
{#                <label for="inputUsername">{{ 'Username'|trans }}</label>#}
{#            </div>#}
{#            <div class="form-floating mb-4">#}
{#                <input type="password"#}
{#                       name="password"#}
{#                       id="inputPassword"#}
{#                       class="form-control"#}
{#                       placeholder="{{ 'Password'|trans }}"#}
{#                       aria-label="{{ 'Password'|trans }}"#}
{#                       required#}
{#                       autocomplete="current-password"#}
{#                >#}
{#                <label for="inputPassword">{{ 'Password'|trans }}</label>#}
{#            </div>#}
{#            <div class="form-floating mb-4">#}
{#                <button class="btn btn btn-primary my-3" type="submit">{{ 'Sign in'|trans }}</button>#}
{#            </div>#}
{#            <div class="form-floating mb-4">#}
{#                {% if error %}#}
{#                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>#}
{#                {% endif %}#}
{#            </div>#}
{#            <div class="form-floating">#}
{#                {% if app.user %}#}
{#                    {{ 'You are logged in as'|trans }} {{ app.user.username }}<br>#}
{#                    <a href="{{ path('app_logout') }}">{{ 'Logout'|trans }}</a>#}
{#                {% endif %}#}
{#            </div>#}
{#            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">#}
{#        </form>#}
{#    </div>#}
{#{% endblock %}#}
