{% extends 'base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col" id="transfer_backup">
            {{ form_start(backup, {'attr': {'id': 'transfer_to_backup_form', 'novalidate': 'novalidate'}}) }}
            {{ form(backup) }}
            {{ form_end(backup) }}
        </div>
        <div class="col" id="transfer_pln">
            {{ form_start(pln, {'attr': {'id': 'transfer_to_pln_form'}}) }}
            {{ form(pln) }}
            {{ form_end(pln) }}
        </div>
    </div>
{% endblock %}
