{% extends 'base.html.twig' %}

{% block body %}

    <div class="row bg-light text-dark">
        <div class="col" id="transfer_backup">
            {{ form_start(backup, {'attr': {'id': 'transfer_to_backup_form'}}) }}
            {{ form(backup) }}
            {{ form_end(backup) }}
        </div>
        <div class="col" id="transfer_wallet">
            {{ form_start(wallet, {'attr': {'id': 'transfer_to_wallet_form'}}) }}
            {{ form(wallet) }}
            {{ form_end(wallet) }}
        </div>
    </div>

{% endblock %}
