{% extends 'base.html.twig' %}
{% block body %}
    <table class="table table-hover table-sm">
        <thead>
            <tr>
                <th>{{ 'Date'|trans }}</th>
                <th class="text-end">{{ 'Amount'|trans }}</th>
                <th class="ps-5">{{ 'Contractor'|trans }}</th>
                <th class="text-center" colspan="2">{{ 'Actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for fee in fees %}
                <tr>
                    <td>{{ fee.date| format_number({min_integer_digit:'2'}) }}</td>
                    <td class="text-end row_money_amount" id="fee_amount{{ loop.index }}">{{ fee.amount }}</td>
                    <td class="ps-5" id="fee_contractor{{ loop.index }}">{{ fee.contractor.description }}</td>
                    <td class="text-center">{{ include('fee/_edit_a.html.twig') }}</td>
                    <td class="text-center">{{ include('fee/_delete_form.html.twig') }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ include('fee/_fixed_fees_form.html.twig') }}
{% endblock %}
