{% extends 'base.html.twig' %}

{% block body %}

    <div class="row bg-light">

        <table class="table table-sm table-hover bg-light">
            <thead>
            <tr>
                <th scope="col" class="ps-2">{{ 'Date'|trans }}</th>
                <th scope="col" class="text-end">{{ 'Amount'|trans }}</th>
                <th scope="col" class="text-end">{{ 'Balance'|trans }}</th>
                <th scope="col" class="ps-5">{{ 'Contractor'|trans }}</th>
                <th scope="col" class="text-center" colspan="3">{{ 'Actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for wallet in paginator %}
                <tr>
                    <td class="ps-2">
                        {{ wallet.date|date("Y-m-d") }}
                    </td>
                    <td
                            {% if wallet.amount > 0 %}
                                class="text-end text-danger" style="font-weight: bold"
                            {% else %}
                                class="text-end"
                            {% endif %}
                            id="wallet_amount{{ loop.index }}"
                    >
                        {{ wallet.amount|number_format(2, ',', ' ') }}
                    </td>
                    <td class="text-end" id="wallet_balance{{ loop.index }}">
                        {{ wallet.balance|number_format(2, ',', ' ') }}
                    </td>
                    <td class="ps-5" id="wallet_contractor{{ loop.index }}">
                        {{ wallet.contractor.description }}
                    </td>

                    <td class="text-center">{{ include('wallet/_is_consistent_form.html.twig') }}</td>
                    <td class="text-center">{{ include('wallet/_edit_a.html.twig') }}</td>
                    <td class="text-center">{{ include('wallet/_delete_form.html.twig') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% set PATH = 'wallet_index' %}
        {{ include('paginator.html.twig') }}

    </div>

{% endblock %}
