<table class="table table-hover table-sm">
    <thead>
    <tr>
        <th class="text-end">{{ 'Holiday'|trans }}</th>
        <th class="text-end">{{ 'Retiring'|trans }}</th>
        <th class="text-end">{{ 'Balance'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="text-end row_money">{{ backupLastRecord.holiday }}</td>
        <td class="text-end row_money">{{ backupLastRecord.retiring }}</td>
        <td class="text-end row_money">{{ backupLastRecord.balance }}</td>
    </tr>
    </tbody>
</table>
